@model IEnumerable<Teacher>



    <table>
        @foreach(var el in Model)
        {
        <tr>
            <td>@el.TeacherName    </td>
            <td>@el.Gender</td>
            <td>@el.Qualification</td>

          

        </tr>
        }
    </table>

